/* Styling the region handle */
#waveform ::part(region) {

  background: transparent;
  
  border-radius: 6px;
  border: 1px solid hsla(0, 0%, 100%, 0.14);
  color: hsl(0 0% 63%);
  overflow: hidden;

} 

#waveform ::part(cursor) {
  background: var(--ds-gray-alpha-1000) ;
}

#waveform ::part(region active) {
  background: var(--ds-gray-alpha-400);
  color: hsl(0 0% 93%);;
}

#waveform ::part(region-content) {
  margin-top: 0px;
  font-size: 16px;
  background: #0a0a0a;
  width: 100%;
  overflow: hidden;
  line-clamp: 3; 
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;


  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}